name: Selenium workflow

on:
  push:
  pull_request:

jobs:
  selenium-tests:
    runs-on: windows-latest

    strategy:
      fail-fast: false

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Firefox
        run: choco install firefox -y

      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Cache Maven packages
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Install dependencies
        run: mvn install -DskipTests

      - name: Run TestNG tests
        run: |
          mvn test

      - name: Upload Surefire HTML reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: Surefire-Reports-${{ matrix.browser }}
          path: target/surefire-reports

      - name: Upload screenshots
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: Screenshots-${{ matrix.browser }}
          path: src/out/screenshots
          
